In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('pbe-orders.csv')

In [41]:
total_unique_orders = len(df['amazon-order-id'].unique())
total_orders = df['amazon-order-id'].count()
total_orders

1256

In [15]:
orders_containing_multiple_skus = (df['amazon-order-id'].duplicated().sum())

In [16]:
percent_orders_containing_mskus = (df['amazon-order-id'].duplicated().sum())/len(df['amazon-order-id'])

In [21]:
for col in df.columns:
    print(col)

Month
New
amazon-order-id
merchant-order-id
shipment-id
shipment-item-id
amazon-order-item-id
merchant-order-item-id
purchase-date
payments-date
shipment-date
reporting-date
buyer-email
buyer-name
buyer-phone-number
sku
product-name
quantity-shipped
currency
item-price
item-tax
shipping-price
shipping-tax
gift-wrap-price
gift-wrap-tax
ship-service-level
recipient-name
ship-address-1
ship-address-2
ship-address-3
ship-city
ship-state
ship-postal-code
ship-country
ship-phone-number
bill-address-1
bill-address-2
bill-address-3
bill-city
bill-state
bill-postal-code
bill-country
item-promotion-discount
ship-promotion-discount
carrier
tracking-number
estimated-arrival-date
fulfillment-center-id
fulfillment-channel
sales-channel
purchase date

In [55]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

lower_state = {}

for k, v in us_state_abbrev.items():
    lower_state[k.lower()] = v
    lower_state[v.lower()] = v
    lower_state['n. j.'] = 'NJ'

df['ship-state'] = df['ship-state'].str.lower()
df['ship-state-abbr'] = df['ship-state'].map(lower_state)
grouped = df.groupby('ship-state-abbr').count()

In [58]:
state_df = grouped.reset_index()
state_df = state_df[['ship-state-abbr', 'shipment-id']]

In [65]:
state_df = state_df.rename(columns={'ship-state-abbr': 'State', 'shipment-id': 'Orders Count'}).drop('Count', axis=1)
state_df

   State  Orders Count
0     AL             4
1     AR             8
2     AZ            33
3     CA           234
4     CO            36
5     CT            14
6     DC             7
7     DE             3
8     FL            95
9     GA            26
10    IA             3
11    ID             9
12    IL            47
13    IN            18
14    KS             7
15    KY             7
16    LA             9
17    MA            36
18    MD            18
19    ME             2
20    MI            31
21    MN            20
22    MO            22
23    MS             4
24    MT             8
25    NC            38
26    NE             1
27    NH             5
28    NJ            22
29    NM             5
30    NV            18
31    NY            76
32    OH            42
33    OK            15
34    OR            45
35    PA            56
36    RI             8
37    SC            13
38    TN            14
39    TX            81
40    UT            18
41    VA            20
42    WA            62
43    WI             8
44    WV             6
45    WY             2